<a style="background-color: #b1dfbb; height: 40px; text-align: center !important; cursor: pointer; margin: 2px;"
   class="nav-link"
   (click)="open(content)">
  <span class="fa fa-shopping-cart"></span>
</a>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">سبد خرید</h4>
      <button type="button" class="close" [style.outline]="'none'" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <table class="table table-striped table-hover table-responsive-sm">
        <thead>
        <tr class="table-secondary">
          <th>نام</th>
          <th>تعداد</th>
          <th>قیمت(تومان)</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-item [ngForOf]="items" let-i="index" >
          <tr >
            <td >{{item['title']}}</td>
            <td >{{item['count']}}</td>
            <td >{{item['price'] * item['count']}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto">
      <span style="margin-right: 10px;">مبلغ کل</span>
      <span style="margin-right: 10px;">{{totalPrice}}</span>
    </div>
    <button type="button" class="btn btn-outline-dark"
            *ngIf="personalityService.isLoggedIn() && items.length > 0"
            (click)="modal.close(1)" >ثبت سفارش</button>
    <button type="button" class="btn btn-outline-dark mr-2"
            placement="top"
            *ngIf="!personalityService.isLoggedIn() && items.length > 0"
            ngbPopover="ابتدا وارد حساب کاربری خود شوید." >
      ثبت سفارش
    </button>
  </div>
</ng-template>

