<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ngb-tabset>
        <ngb-tab title="مشخصات من">
          <ng-template ngbTabContent>
            <user-info-view></user-info-view>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>آدرس های من</ng-template>
          <ng-template ngbTabContent>
            <user-address-view [name]="'kk'"></user-address-view>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>سفارش های من</ng-template>
          <ng-template ngbTabContent>
            <app-user-history></app-user-history>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<!--<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" >-->
  <!--<ngb-panel >-->
    <!--<ng-template ngbPanelTitle>-->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!---->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
  <!--<ngb-panel>-->
    <!--<ng-template ngbPanelTitle>-->
      <!---->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!---->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
<!--</ngb-accordion>-->
