<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="d-flex justify-content-center align-items-center mb-5" style="height: 100%;">
        <button class="btn"
                [class.btn-success]="verifyList"
                [class.btn-outline-danger]="!verifyList"
                (click)="verifyList = !verifyList">تایید لیست خرید
        <span class="fa"
              [class.fa-times]="!verifyList"
              [class.fa-check]="verifyList" ></span> </button>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 pb-5" style="border-bottom: 1px solid gray;">
      <table class="table table-condensed table-hover">
        <thead>
        <tr class="table-secondary">
          <th>نام</th>
          <th>تعداد</th>
          <th>قیمت(تومان)</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-item [ngForOf]="items" let-i="index" >
          <tr >
            <td >{{item['title']}}</td>
            <td >{{item['count']}}</td>
            <td >{{item['price'] * item['count']}}</td>
          </tr>
        </ng-template>
        <tr class="bg-success">
          <td>
            <span style="margin-right: 10px;">مبلغ کل</span>
          </td>
          <td>&nbsp;</td>
          <td>
            <span style="margin-right: 10px;">{{totalPrice}}</span>
            <span style="margin-right: 10px;">تومان</span>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="mr-auto p-2">

      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3 col-sm-12">
      <div class="d-flex justify-content-center align-items-center mb-5" style="height: 100%;">
        <span
          [class.address-selected]="verifyAddress"
          [class.address-not-selected]="!verifyAddress"
          style="border: 1px solid; border-radius: 4px;" class="p-2">انتخاب آدرس
          <span class="fa" [class.fa-check]="verifyAddress"></span>
          <span class="fa" [class.fa-times]="!verifyAddress"></span>
        </span>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 pb-5" style="border-bottom: 1px solid gray;">
      <user-address-view [name]="'ali'" (addressSelected)="addressSelected($event)"></user-address-view>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="d-flex justify-content-center align-items-center mb-5" style="height: 100%;">
        <span
          [class.address-selected]="verifyPayment"
          [class.address-not-selected]="!verifyPayment"
          style="border: 1px solid; border-radius: 4px;" class="p-2">انتخاب نحوه پرداخت
          <span class="fa" [class.fa-check]="verifyPayment"></span>
          <span class="fa" [class.fa-times]="!verifyPayment"></span>
        </span>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 pb-5" style="border-bottom: 1px solid gray;">
      <div class="row pt-5 pb-2" >
        <div class="col-md-12">
          <img *ngFor="let paymentType of paymentTypes"
               class="img-thumbnail payment-image payment-disable"
               (click)="paymentSelected(paymentType)"
               [class.payment-enable]="paymentType.enabled"
               [class.payment-disable]="!paymentType.enabled"
               [class.payment-selected]="selectedPayment && selectedPayment.enabled && selectedPayment.id == paymentType.id"
               [src]="serverInfo.getServerBaseUrl() + 'assets/image/general/' + paymentType.image" />
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-3 col-sm-12">&nbsp;</div>
    <div class="col-md-9 col-sm-12">
      <button type="button" class="btn btn-outline-dark"
              *ngIf="verifyList && verifyPayment && verifyAddress"
              (click)="finalVerify()" >تایید نهایی</button>

      <button type="button" class="btn btn-outline-dark"
              ngbPopover="لیست خرید خود را تایید نمایید."
              *ngIf="!verifyList" >تایید نهایی</button>

      <button type="button" class="btn btn-outline-dark"
              ngbPopover="آدرس خود را تایید نمایید."
              *ngIf="verifyList && !verifyAddress" >تایید نهایی</button>

      <button type="button" class="btn btn-outline-dark"
              ngbPopover="روش پرداخت خود را تایید نمایید."
              *ngIf="verifyList && verifyAddress && !verifyPayment" >تایید نهایی</button>
    </div>
  </div>
</div>

