<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex justify-content-center align-items-center mb-5" style="height: 100%;">
        <button class="btn"
                [class.btn-success]="verifyList"
                [class.btn-outline-danger]="!verifyList"
                (click)="verifyList = !verifyList">تایید لیست خرید
        <span class="fa"
              [class.fa-times]="!verifyList"
              [class.fa-check]="verifyList" ></span> </button>
      </div>
    </div>
    <div class="col-md-9 pb-5" style="border-bottom: 1px solid gray;">
      <table class="table table-striped table-hover">
        <thead>
        <tr class="table-secondary">
          <th>نام</th>
          <th>تعداد</th>
          <th>قیمت(تومان)</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-item [ngForOf]="items" let-i="index" >
          <tr >
            <td >{{item['title']}}</td>
            <td >{{item['count']}}</td>
            <td >{{item['price'] * item['count']}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>

      <div class="mr-auto">
        <span style="margin-right: 10px;">مبلغ کل</span>
        <span style="margin-right: 10px;">{{totalPrice}}</span>
        <span style="margin-right: 10px;">تومان</span>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="d-flex justify-content-center align-items-center mb-5" style="height: 100%;">
        <span
          [class.address-selected]="verifyAddress"
          [class.address-not-selected]="!verifyAddress"
          style="border: 1px solid; border-radius: 4px;" class="p-2">انتخاب آدرس
          <span class="fa" [class.fa-check]="verifyAddress"></span>
          <span class="fa" [class.fa-times]="!verifyAddress"></span>
        </span>
      </div>
    </div>
    <div class="col-md-9 pb-5" style="border-bottom: 1px solid gray;">
      <user-address-view (addressSelected)="addressSelected($event)"></user-address-view>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex justify-content-center align-items-center mb-5" style="height: 100%;">
        <span
          [class.address-selected]="verifyPayment"
          [class.address-not-selected]="!verifyPayment"
          style="border: 1px solid; border-radius: 4px;" class="p-2">انتخاب نحوه پرداخت
          <span class="fa" [class.fa-check]="verifyPayment"></span>
          <span class="fa" [class.fa-times]="!verifyPayment"></span>
        </span>
      </div>
    </div>
    <div class="col-md-9 pb-5" style="border-bottom: 1px solid gray;">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <button type="button" class="btn btn-outline-dark"
              *ngIf="personalityService.isLoggedIn() && items.length > 0"
              (click)="modal.close(1)" >ثبت سفارش</button>
    </div>
  </div>
</div>

